<ul class="nav nav-pills">
  <div>
    <li><h3><%= link_to "Craft Post", new_post_path, :class => 'navbar-post' %></h3></li>
    <li><h3><%= link_to "Sign in", new_user_session_path,  :class => 'navbar-signin' %></h3></li>
  </div>
</ul>

<h1>Coffee Achiever's</h1>

<h3>Click <%= link_to "here", posts_path%> to view all posts</h2>
<ul class="nav nav-pills">
<li><h3><%= link_to "Log out", destroy_user_session_path, :method => "DELETE" %></h2></li>
</ul>
