<div class="container">
  <h1>Coffee Achievements</h1>
</div>
<h3>Posts</h3>
<div>
<% @posts.each do |post| %>
    <ul>
      <li><%= link_to post.title, post_path(post) %></li>
    </ul>
<% end %>
</div>
<div class="nav nav-pills">
    <li><%= link_to "Add another post", new_post_path %></li>
    <li><%= link_to "Home", root_path %></li>
</div>
</div>
